﻿
@{
    ViewBag.Title = "Chat";
}



<div class="row">
    <div class="col-lg-12" style="margin-top:20px;margin-bottom:15px;margin-left:50px;">
        <div class="Usuario">Ana</div>
        <a class="avatarComentario-aj" href="#"><img src="~/Images/icons8-team-355979.jpg" alt="Profile Image"></a>

    </div>
</div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="Totalidad">
                <div class="fora">
                    <div class="mig">
                        <div class="esquerra">
                            <div class="Hora">11:27</div>
                            <div class="caixa">
                                Hola
                            </div>
                        </div>
                        <div class="dreta">
                            <div class="Hora">11:27</div>
                            <div class="caixa">
                                Hola
                            </div>                        
                    </div>
                </div>
        
            </div>

            <div class="row">
                <div class="IntroTexto">
                    <form controller="Mensaje" action="/Mensaje/Create" method="POST">
                        <textarea name="mensaje" class="MiMensaje" rows="2" cols="50" placeholder="escribir mensaje"></textarea>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


