﻿
@{
    ViewBag.Title = "ListadoChat";
}

<h2>Mis Chats</h2>
int id
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="mensajes">
                <div class="btn MngReceived">
                    <a class="HistMngs btn" href=@Url.Action("Chat","Mensaje",new { idChat=1})>Ana</a>
                </div>               
            </div>
         </div>
    </div>
</div>
