﻿@model IEnumerable<Proyecto_Final.Models.Mensaje>

@{
    ViewBag.Title = "Index";
    int usuariactual = Convert.ToInt32(ViewData["usuari_actual"]);
    int idchat = Convert.ToInt32(ViewData["idchat"]);
}

<script>
    var height = 0;
    $('div.mig').each(function (i, value) {
        height += parseInt($(this).max-height());
    });

    height += '';

    $('div.row').animate({ scrollTop: max-height });
</script>

<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px; margin-bottom:20px;">
				<div class="Usuario">@ViewData["elnom"] </div>
				<a class="avatarComentario-aj" href="#"><img src="@ViewData["lafoto"]" alt="Profile Image"></a>
			</div>
		</div>
		
		
	</div>
</div>
    


<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="Totalidad">
            <div class="fora">
                <div class="mig">


                    @foreach (var item in Model)
                     {
                string classe = (item.IdAutor == usuariactual) ? "dreta" : "esquerra";

                <div class="@(classe)">
                    <div class="Hora">
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </div>
                    <div class="caixa-@(classe)">
                        @Html.DisplayFor(modelItem => item.Texto)
                    </div>
                </div>

                     }

                </div>

            </div>


			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
					<div class="IntroTexto">
						<form controller="Mensaje" action="/Mensaje/Create" method="POST">
							<input type="hidden" name="idchat" value="@(idchat)" />
							<textarea name="mensaje" class="mensaje-dm" rows="3" cols="45" placeholder="escribir mensaje"></textarea>	
							<button class="enviar-mensaje-Dm" type="submit"><img class="img-responsive enviar-chat-dm" src="~/Images/enviar.png" /></button>
						</form>
					</div>
				</div>		
			</div>
        </div>
    </div>
    
</div>

