﻿@model IEnumerable<Proyecto_Final.Models.Chat>


@{
    ViewBag.Title = "ListadoChat";

    int usuari_actual = Convert.ToInt32(Session["loggedid"]);
}



<h2>Mis Chats</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="mensajes">

                @foreach (var chat in Model)
                 {
                        if (usuari_actual == chat.IdUsuarioEmisor)
                        {
                        <div class="MngReceived">
                            <a class="HistMngs" href=@Url.Action("Chat", "Mensaje", new { idChat = chat.IdChat, receptor=chat.NombreReceptor})>@chat.NombreReceptor</a>
                        </div>
                         }
                        else
                         {
                        <div class="MngReceived">
                        <a class="HistMngs" href=@Url.Action("Chat", "Mensaje", new { idChat = chat.IdChat, emisor=chat.NombreEmisor})>@chat.NombreEmisor</a>
                        </div>
                        }
                 }

            </div>
        </div>
    </div>
</div>
