﻿@model Proyecto_Final.Models.Gallina

@{
    ViewBag.Title = "Borrar";
}



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


            <div class="row" style="margin-top:60px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 "></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 ">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enunciado-Dm">Deseas borrarme ??</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 borrar-gallina-dm"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-actions no-color text-center">
                                <input type="submit" value="Borrar" class="btn btn-warning borrar-gallina-dm" />                              
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        
    }
