﻿@model Proyecto_Final.Models.Gallina

@{
    ViewBag.Title = "Commit";
}



<div class="row" style="margin-top:60px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 "></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 ">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enunciado-Dm">Y voló!!</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 commit-dm"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center" style="margin-top:20px;" >
                    <img class="inicio" src="~/Images/flecha-izquierda.png"/> 
                    <a href="/" id="volver" class="btn inicio"></a>
                </div>
            </div>
        </div>
    </div>

</div>