﻿@model Proyecto_Final.Models.Gallina

@{
    ViewBag.Title = "Create";
    List<SelectListItem> listadoRazas = (List<SelectListItem>)ViewBag.Razas;
    List<SelectListItem> listadoLocalidad = (List<SelectListItem>)ViewBag.Localidad;
}



@using (Html.BeginForm("Create", "Gallina", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div style="margin-top:30px;"></div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-lg-3 col-md-1 col-sm-1 col-xs-2 "></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 enunciado-Dm ">
            <p>Sube tu gallina :</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-1 col-sm-1 col-xs-3 "></div>
        <div class="col-lg-6 col-md-10 col-sm-10 col-xs-6 ">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 foto-vacia-Dm">
					<label for="customFile2" class="subir-foto-Dm"></label>
					<input type="file" name="file" class="custom-file-input" id="customFile2" style="display: none;">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 foto-vacia-Dm">
					<label for="customFile2" class="subir-foto-Dm"></label>
					<input type="file" name="file1" class="custom-file-input" id="customFile2" style="display: none;">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 foto-vacia-Dm">
					<label for="customFile3" class="subir-foto-Dm"></label>
					<input type="file" name="file2" class="custom-file-input" id="customFile3" style="display: none;">
				</div>

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 formulario-Dm">
						<div class="form-group">
							<label for="exampleFormControlInput1">Nombre</label>

							@Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
							@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  formulario-Dm">
						<div class="form-group ">
							<label for="exampleFormControlInput1">Precio</label>
							@Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control precio-Dm", @placeholder = "€" } })

						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 formulario-Dm">
						<label for="exampleFormControlSelect1">Raza</label>

						@Html.DropDownListFor(model => model.IdRaza, listadoRazas, htmlAttributes: new { @class = "form-control " })
						@Html.ValidationMessageFor(model => model.Raza, "", new { @class = "text-danger" })

					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  formulario-Dm" style="margin-top:30px;">
						<input type="hidden" name="sexo" id="sexo_ave" />
						<button class="btn hombre-Dm" title="Gallo" value="Macho" type="button" onclick="Macho()"></button>
						<button class="btn mujer-Dm" title="Gallina" value="Hembra" type="button" onclick="Hembra()"></button>

					</div>

				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 formulario-Dm">
						<div class="form-group">
							<label for="exampleFormControlInput1">Localidad</label>
							@Html.DropDownListFor(model => model.Localidad, listadoLocalidad, htmlAttributes: new { @class = "form-control " })
							@Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
						</div>
					</div>
					<div id="num_huevos" class="col-lg-6 col-md-6 col-sm-8 col-xs-12  formulario-Dm" style="margin-top:30px; display:none;">
						<input type="hidden" name="valorHuevos" id="valor_huevo" value="0" />
						<button class="btn huevo-Dm" title="0 Huevos/Semana" id="huevo1" type="button" onclick="cant_huevos(1)"></button>
						<button class="btn huevo-Dm" title="1-2 Huevos/Semana" id="huevo2" type="button" onclick="cant_huevos(2)"></button>
						<button class="btn huevo-Dm" title="2-3 Huevos/Semana" id="huevo3" type="button" onclick="cant_huevos(3)"></button>
						<button class="btn huevo-Dm" title="4-5 Huevos/Semana" id="huevo4" type="button" onclick="cant_huevos(4)"></button>
						<button class="btn huevo-Dm" title="+5 Huevos/Semana" id="huevo5" type="button" onclick="cant_huevos(5)"></button>
					</div>
					<div id="sonido_gallo" class="col-lg-6 col-md-6 col-sm-6 col-xs-12  formulario-Dm" style="margin-top:30px; display:none;">
						<div style="display:inline-block">
							<label class="gallo-simbolo-Dm"></label>
							<label for="customFile4" class="altavoz-Dm" title="Como canta tu gallo?"></label>
							<input type="file" name="sonido" class="custom-file-input" id="customFile4" style="display: none;">
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 formulario-Dm">
						<div class="form-group">
							<label for="exampleFormControlInput1">Dimensiones</label>
							@Html.EditorFor(model => model.Dimensiones, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })

						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  formulario-Dm">
						<div class="form-group ">
							<label for="exampleFormControlInput1">Peso</label>
							@Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control precio-Dm", @placeholder = "Kgs" } })

						</div>
					</div>

				</div>
				<div class="row  formulario-Dm descripcion-Dm">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">Tags</div>
					<div class="col-lg-4 col-md-4 col-sm- col-xs-12 ">
						<input type="text" class="form-control tag" name="tag1" placeholder="Tag">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
						<input type="text" class="form-control tag " name="tag2" placeholder="Tag">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
						<input type="text" class="form-control tag" name="tag3" placeholder="Tag">
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formulario-Dm">
						<div class="form-group">
							<label for="exampleFormControlTextarea1">Descripción</label>
							<textarea class="form-control"
									  id="exampleFormControlTextarea1"
									  rows="3"
									  cols="20"
									  name="descripcion"
									  style="max-width:800px;"
									  placeholder="Mi Ramona es la más bonita..."></textarea>

						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-8 col-xs-8  form-group formulario-Dm">
						<button type="submit" class="btn subir-Dm">Subir</button>
					</div>
				</div>
			</div>
        </div>

		
    </div>

    <script>
        function Macho() {

            document.getElementById('sonido_gallo').style.display = 'block';
            document.getElementById('num_huevos').style.display = 'none';
            $('#sexo_ave').val('Macho');

        }
        function Hembra() {


            document.getElementById('sonido_gallo').style.display = 'none';
            document.getElementById('num_huevos').style.display = 'block';
            $('#sexo_ave').val('Hembra');

        }
        function cant_huevos(elhuevo) {
            $('#valor_huevo').val(elhuevo);
            console.log('aSDASD');

		}
		


    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

