﻿@model Proyecto_Final.Models.Gallina

@{
    ViewBag.Title = "Detail";
}
@{
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.Logged = Session["logged"] as String;
        ViewBag.LoggedId = Session["loggedid"] as String;
    }
}

 

<div class="separador-Dm"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-1 col-xs-12">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 " style="font-size:20px; margin-bottom:10px;">@Model.Fecha  	
					
					</div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 pull-right boton_usuario-Dm">
                    @{if (ViewBag.UserIsLogged)
                      {
                        if (Session["Loggedid"].ToString() == Model.IdUsuario.ToString())
                        {
                            @Html.ActionLink("Borrar", "Borrar", new { id = Model.IdGallina }, new { @class = "btn btn-danger" });
                            @Html.ActionLink("Editar", "Editar", new { id = Model.IdGallina }, new { @class = "btn btn-warning" , @style="margin-left:10px;"});
                        }

                      } }

                </div>

            </div>

            <div id="myCarousel" class="carousel slide " data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                    <div class="item active ">
                        <img class="img-responsive" src="@Model.Fotos[0].ToString()" alt="Los Angeles">
                    </div>

                    <div class="item ">
                        <img class="img-responsive" src="@Model.Fotos[1].ToString()" alt="Chicago">
                    </div>

                    <div class="item ">
                        <img class="img-responsive" src="@Model.Fotos[2].ToString()" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>


            <div class="row descripcion-Dm">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 enunciado-Dm ">@Model.Nombre</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right precio-Dm espacio-Dm">
                    @Model.Precio €
                </div>
            </div>
            <div class="row descripcion-Dm ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enunciado-Dm">Raza</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    @Model.Raza
                                </div>

              
                @{
                    if (Model.Sexo == "Hembra")
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  pull-right huevo-Dm">
                            @{ 
                                for (int i = 0; i < Model.ValorHuevos; i++)
                                {
                                    <img  style="height:30px;width:25px;"src="~/Images/egg16.png" />
                                }
                             }

                        </div>


                    }
                    else
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right" >
                            <audio controls class="Audio-Dm">
                                <source src="@Model.Audio" id="" type="audio/mp3" />
                            </audio>
                        </div>

                       
                    }

                  }
                         
               


                </div>
			<div class="row descripcion-Dm">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 enunciado-Dm">Localidad</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 enunciado-Dm precio-Dm"><img src="~/images/icons8-eye-16.png " style="height:25px;" /><p class="icon-aj" style="color:black;">  @Model.Views</p></div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">@Model.Localidad</div>
			</div>
            <div class="row descripcion-Dm">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 enunciado-Dm">Dimensiones</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  pull-right enunciado-Dm" style="text-align:right;">
                    <span>Peso</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">@Model.Dimensiones</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  pull-right " style="text-align:right;">
                    <span>@Model.Peso.ToString() kgs</span>
                </div>

            </div>
            <div class="row descripcion-Dm">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enunciado-Dm ">Decripción</div>
            </div>
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <p class="text">
                        @Model.Descripcion
                    </p>
                </div>
            </div>
            <div class="row descripcion-Dm">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enunciado-Dm">Tags</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="container">
                        @{
                            for (int i = 0; i < 3; i++)
                            {
                                if (Model.Tags[i] != null && Model.Tags[i].ToString() != "")
                                {
                                        <span class="label label-default">@Model.Tags[i]</span>
                                }
                            }
                              }
                    </div>
                </div>
            </div>
            <div class="row descripcion-Dm">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
					<a class="avatarComentario-aj">
						<img src="@Model.FotUsuario"/>
					</a>                  
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 " style="margin-top:10px;"><a class="sinSubrallado-aj" href="@Url.Action("Perfil","Usuario",new { idUsuario = Model.IdUsuario})">@Model.NomUsuario</a></div>
            </div>
            <div class="row descripcion-Dm ">
                <div class="col-lg-12 text-center espacio">

                    @{
                        if (ViewBag.UserIsLogged == true)
                        {
                            if (Session["Loggedid"].ToString() == Model.IdUsuario.ToString()) { }
                            else
                            {
                               @Html.ActionLink("chat", "ComprobarChat", "Mensaje",new { receptor = Model.IdUsuario, gallina = Model.IdGallina, precio = Model.Precio },new {@class="btn btn-success" ,@style="width:200px;"});
                    
                            }
                        }
                        else
                        {
                                <label>Debes estar registrado para contactar con el usuario</label>
                                <button class="btn chat-Dm" disabled>chat</button>
                        }


                    }

                </div>
            </div>



        </div>
    </div>

</div>


