﻿@model Proyecto_Final.Models.Infoblog


@{
	ViewBag.Title = "Blog";

}
@{
	if (String.IsNullOrEmpty(Session["logged"] as String))
	{
		ViewBag.UserIsLogged = false;
	}
	else
	{
		ViewBag.UserIsLogged = true;
		ViewBag.Logged = Session["logged"] as String;
		ViewBag.LoggedId = Session["loggedid"] as String;
	}
}

<div class="row">
	<div class="col-lg-1 col-md-1 col-xs-1"></div>
	<div class="col-lg-11 col-md-11 col-xs-11">

		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-6">
				<div>
					<a class="sinSubrallado-aj" href="@Url.Action("Index","Blog")">
						<div class="lista-Cb">iPollo blog</div>
					</a>

				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-6 lista-Cb " style="text-align:right;">
				@Html.ActionLink("Volver", "Index", "Blog", new { @class = "btn btn-info" })
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 col-xs-1">
	</div>
</div>



<div class="row">
	<div class="col-lg-1 col-md-1 col-xs-1"></div>
	<div class="col-lg-11 col-md-11 col-xs-11">

		<div class="titulo-Cb">@Model.Blog.Titulo</div>
		<p style="text-align:center;"> @Model.Blog.Fecha</p>
		<div class="centrarImageArticulo-Cb"><img src="~/images/TRexChicken.jpg" class="imageArticulo"></div>
		<div class="articulo-Cb">
			<p>
				@Model.Blog.Texto
			</p>
		</div>
	</div>
	<div class="row opiniones-aj"> <h3 id="opiniones" class="opiniones-Cb">Opiniones</h3></div>

	@foreach (var comentario in Model.Comentarios)
	{

		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="col-lg-4 col-md-4 col-sm-3 col-xs-5">
					<a class="avatarComentario-aj" href="#"><img src="@comentario.Foto" alt="Profile Image"></a>
					<p class="nombreUsuarioOpinion">@comentario.Nombre @comentario.Apellidos</p>
					<p>@comentario.Fecha</p>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-9 col-xs-6">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comentario-Cb">
							<p>@comentario.Comentario</p>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                         
								<label class="btn like" name="like" value="1"><i class="fas fa-thumbs-up"></i></label>
								<label class="btn like" name="dislike" value="0"><i class="fas fa-thumbs-down"></i></label>               				
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>





