﻿@model IEnumerable<Proyecto_Final.Models.Blog>

@{
                /**/

                /**/

                ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-10">

        <div class="row">
			<div class="col-lg-12 col-md-12 col-xs-12">
				<div>
					<div class="lista-Cb">Mi primera gallina</div>
				</div>

				@foreach (var item in Model)
	             {
						<div class="row">
				
							<div class="col-lg-12 col-md-12 col-xs-12">

								<div class="posts-Cb">

									<a  class="sinSubrallado-aj"href=@Url.Action("Blog", "Blog", new { item.IdBlog})>
										<img src="~/images/bankivia.jpg" class="img-responsive imageBlog-Cb">
										<ol style="margin-top:10px;margin-bottom: 5px; font-size:24px;">@item.Titulo</ol>
										<p>
											@item.Resumen
										</p>
									</a>
								</div>
					
					
							</div>
							<div class="col-lg-12 col-md-12 col-xs-12" style="display:block;">
								<label class="btn like"><i class="fas fa-thumbs-up"></i></label>
								<label class="btn contador">@item.Like</label>
								<label class="btn like"><i class="fas fa-thumbs-down"></i></label>
								<label class="btn contador">@item.DisLike</label>
							</div>

						</div>
			             <hr>
                 }


			</div>     
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1">
    </div>
</div>
