﻿body {
    margin-top:75px;    
    padding-bottom: 20px;
    background-image:url(../Images/Fondo_body500.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {    
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


div.cabecera {
    display: block;
    height: 83px;
    background-color: #bd4934;
    border: 1px solid grey;
}

div.izquierda {
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    padding-top: 1px;
}

div.SinLogear-CA {
    display:inline-block;
    margin-bottom: 5px;
}
div.Logeado-CA{
    display:inline-block;
    width:100%;
}
a.NomUsuarioLogged {
    font-weight: bold;
    font-size: 17px;
    color: #fbfae0;
}
a.LogOut {
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    color: white;
    text-align: right;
}
 div.derecha {
    display: block;
    margin-bottom:5px;
}

div.derechaRegistro {
    display:inline-block;
    text-align: left;    
    color: white;
  margin-left:5px;
    font-weight: bold;
}

div.BotonRegistro {
    
    display: inline-block;    
    float: right;   
}

img.Logotipo {
    height: 80px;
    width: 80px;
}

div.LayoutEslogan {
    text-align: center;
    color: #fbfae0;
    
    font-size: 27px;
    margin-top: 15px;
    margin-left: 40px;
}
span.correo {
    top: 13px;
    margin-right: 10px;
   
}
a.ListadoChats-CA {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 35px;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}
div.fora {
    min-height: 400px;
    width: 100%;
    border: 2px solid #bd4834;
    position: relative;
    border-radius: 10px;
    background-image:url(../Images/Fondo_body500.jpg)
}

span.polloVivo {
    display:none;

}

div.mig {
    width: 100%;
    bottom: 0;
    left: 0;
    max-height: 396px;
    overflow: auto;
    position: absolute;
    overflow-y: auto;
    padding: 20px;
    
}


div.caixa-dreta{
    width: 40%;
    display: inline-block;
    padding: 5px;
    text-align: right;
    border-radius: 10px;
    background-color: #d6e9c6;
}

div.caixa-esquerra {
    width: 40%;
    display: inline-block;
    padding: 5px;
    text-align: left;
    border-radius: 10px;
    background-color: #ffe4b5;
}

div.dreta {
    text-align: right;
}

div.esquerra {
    text-align: left;
}

div.IntroTexto {
    display: block;
    text-align: right;
    margin-top: 20px;
    padding-right:10px;
}

div.Totalidad {
    display: block;
    text-align: center;
}
div.Usuario {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    margin-right: 10px;
}
a.avatarComentario img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 7px solid #fff;
}
a.avatarLayout img {
    width: 70px;
    height: 70px;
    /*border-radius: 50%;*/
    padding: 10px;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}
div.MngReceived {
    display: block;
    height: 23px;
    width: 25%;
    margin: 10px;
    background-color: #bd4934;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
}
a.HistMngs {
    color: white;
    text-decoration: none;
    font-weight:bold;
}
div.separadorDalt {
    height: 100px;
}
div.separador-Dm {
    height: 40px;
}

div.boton_usuario-Dm {
    text-align: right;
    margin-bottom: 10px;
}

div.descripcion-Dm {
    margin-top: 20px;
    font-size: 20px;
}

p.text-Dm {
    font-size: 14px;
}

button.chat-Dm {
    text-align: center;
    width: 200px;
    background-color: #42CB57;
    margin-right: auto;
}

div.enunciado-Dm {
    font-size: 30px;
    font-weight: bold;
}

div.precio-Dm {
    font-size: 30px;
    text-align: right;
    color: cornflowerblue;
    font-weight: bold;
}

button.editar-Dm {
    background-color: silver;
}

button.borrar-Dm {
    background-color: firebrick;
    color: white;
}

div.espacio-Dm {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.espacio-Dm {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: auto;
}

div.foto-vacia-Dm {
    border: dashed;
    border-radius: 8px;
    border-color: cadetblue;
    margin: 20px;
    width: 150px;
    height: 150px;
    padding: 0;
    display: inline-block;
    background-image: url(../images/fondo.png);
    background-size: cover;
}

img.vacia-Dm {
    opacity: 0.3;
    display: inherit;
    height: 140px;
    width: 140px;
}

div.enunciado-Dm {
    font-size: 30px;
    font: bold;
}

div.formulario-Dm {
    margin-top: 10px;
    text-align: center;
}

button.hombre-Dm {
    height: 30px;
    width: 30px;
    background-image: url(../images/hombre.png);
    background-size: cover;
    margin: 5px;
    background-color: white;
    border-bottom-style: solid;
    border-color: #5f9ea0;
}

button.mujer-Dm {
    height: 30px;
    width: 30px;
    background-image: url(../images/mujer.png);
    background-size: cover;
    margin: 5px;
    border-bottom-style: solid;
    background-color: white;
    border-color: #5f9ea0;
}

input.precio-Dm {
    margin-left: 85px;
    width: 100px;
    text-align: center;
}

button.huevo-Dm {
    height: 30px;
    width: 30px;
    background-image: url(../images/huevo.png);
    background-size: cover;
    margin: 5px;
    background-color: white;
    border-style: solid;
    border-color: darkgoldenrod;
}

button.subir-Dm {
    height: 50px;
    width: 200px;
    background-color: seagreen;
}

label.subir-foto-Dm {
    margin-left: 42px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: darkgray;
    border-style: solid;
    border-color: cadetblue;
    opacity: 0.5;
    margin-top: 38px;
    background-image: url('../images/simbolo-mas-negro (1).png');
    background-size: contain;
}

label.altavoz-Dm {
    border-radius: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: white;
    background-image: url('../images/altavoz.png');
    background-size: cover;
    display: inline-block;
}

label.gallo-simbolo-Dm {
    border-radius: 10px;
    height: 30px;
    width: 30px;
    background-color: white;
    background-image: url(../images/gallo-simbolo.png);
    background-size: cover;
    display: inline-block;
}

div.huevo-Dm {
    text-align: right;
}

div.foto-perfil-Dm {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-image: url(../images/usuario.png);
    background-color: white;
    border-style: solid;
    border-color: cadetblue;
    background-size: cover;
}



/*------------------------Ana------------------------*/

a.avatar-aj img {
    margin-top: -50px;
    width: 63px;
    height: 76px;
    border: 2px solid #c09853;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    border-top-left-radius: 83% 110%;
    border-top-right-radius: 83% 110%;
    border-bottom-left-radius: 72% 58%;
    border-bottom-right-radius: 72% 58%;
}

div.section-aj {
    text-align: center;
    /*background: ;*/
    padding: 10px 0 40px;
}

div.card-aj {
    background-color: white;
    margin-top: 10px;
    border: 3px solid;
    border-color: #cc1a25;
    border-radius:10px;
}

div.blog-image-aj {
    /*max-height: 200px;*/
    overflow: hidden;
  
}

img.image-aj {
    /*height: 200px;*/
}

div.post-footer-aj {
    background-color: #c09853;
    padding: 10px;
    height: 50px;
}

div.horizontal-aj {
    display: inline;
    padding: 10px;
    font-size: 16px;
    color: white;
}

p.icon-aj {
    padding-left: 10px;
    display: inline;
}

div.precio-aj {
    color:#cc1a25;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

div.nombreRaza-aj {
    font-size: 18px;
    color: black;
    
}

div.nombreLocalidad-aj {
    font-size: 14px;
    margin-bottom: 10px;
    color: black;
}

div.title-aj {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.blog-card-aj {
    
}
div.panel-aj {
    height: 400px;
    display: inline-block;
    background-color: #96c83c;
}

div.izquierda-aj {
    margin-top: 10px;
    background-color: white;
    height: 350px;
    border-radius: 10px;
    border-style: solid;
    border-color: #c09853;
    background-color: #bd4834;
    color: white;
}

div.derecha-aj {
    margin-top: 10px;
    background-color: white;
    height: auto;
    border-radius: 10px;
    border-style: solid;
    border-color: #c09853;
    background-color: #bd4834;
    color: white;
}

div.blog-aj {

}

p.textoBlog-aj {
    margin-top: 5px;  
    color: #fff;
    font-size: 15px;
}

div.itemBlog-aj {
    border: 3px solid;
    border-radius: 10px;
    border-color: #c09853;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
}

a.itemBlog-aj {
    color: #bd4834;
    font: solid;
    font-size: 15px;
}

a.imgBlog-aj {
    text-decoration: none;
}

img.imgPerfil-aj {
      border-style: solid;
    border-width: 7px;
    border-color: #c09853;
    height: 270px;
    width: 210px;
    border-top-left-radius: 83% 110%;
    border-top-right-radius: 83% 110%;
    border-bottom-left-radius: 72% 58%;
    border-bottom-right-radius: 72% 58%;
}

a.btnTextColor-aj {
    color: white;
}

div.btnDelete-aj {
    background-color: maroon;
    width: 100%;
}

div.btnEdit-aj {
    background-color: olivedrab;
    width: 100%;
}

div.btnVenta-aj {
    background-color: darkorange;
    width: 100%;
}

div.comentario-aj {
    height: auto;
    border-radius: 25px;
    border: 2px solid #bd4834;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-bottom: 50px;
    background-color:white;
}

a.avatarComentario-aj img {
    border-style: solid;
    border-width: 2px;
    border-color: #c09853;
    height: 70px;
    width: 60px;
    border-top-left-radius: 83% 110%;
    border-top-right-radius: 83% 110%;
    border-bottom-left-radius: 72% 58%;
    border-bottom-right-radius: 72% 58%;
}

div.opiniones-aj {
    margin-top: 50px;
    text-align: center;
}

div.title-aj {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #bd4934;
    font-weight: bold;
}

div.subtitle-aj {
    font-weight: bold;
    font-size: 30px;
    color: #bd4934;
    margin-bottom: 20px;
}

div.enlaceOpiniones-aj {
    margin-bottom: 10px;
}

label.subir-foto-aj {
    margin-left: 42px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: darkgray;
    border-style: solid;
    border-color: cadetblue;
    opacity: 0.5;
    margin-top: 38px;
    background-image: url('../images/simbolo-mas-negro (1).png');
    background-size: contain;
}

div.foto-vacia-aj {
    border: dashed;
    border-radius: 8px;
    border-color: cadetblue;
    margin: 20px;
    width: 150px;
    height: 150px;
    padding: 0;
    display: inline-block;
    background-image: url(../images/userIcon.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: initial;
}

div.iconoUsuario-aj {
    text-align: center;
}

img.favorito-aj {
    margin-top: -130%;
    margin-left: 80%;
}

label.estrellaPerfil-aj {
    color: grey;
    font-size: 35px;
}

label.colorEstrella-aj {
    color:orange;
}

label.colorEstrella-aj::after {
    color: grey;
}

input[type="radio"] {
    display: none;
}

div label.estrella {
    color: grey;
    font-size: 50px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    float: left;
}

label.estrella:hover,
label.estrella:hover ~ label.estrella {
    color: orange;
}

input[type="radio"]:checked ~ label.estrella {
    color: orange;
}

a.sinSubrallado-aj {
    text-decoration: none;
    color: black;
}

p.nombreUsuarioPerfil-aj {
    font-weight: bold;
    font-size: 30px;
}

div.enLinia-aj {
    display: inline-block;
}

img.iconoAddressPerfil-aj {
    width: 15px;
    height: 15px;
}

img.iconoOpinionPerfil-aj {
    width: 15px;
    height: 15px;
}

div.espacio-aj {
    margin-left: 10px;
    font-size: 20px;
    color: #bd4934;
}

a.enlace-aj {
    color: #bd4834;
    font-size: 20px;
}

div.separador-aj {
    margin: 20px;
}

div.enlacesPerfil-aj {
    margin-top: 30px;
    margin-bottom: 30px;
}
div.puntuacion-aj {
    font-weight: bold;
    font-size: 30px;
    margin-right: 10px;
}
img.estrellasPerfil-aj {
    padding-bottom: 10px;
}
p.nombreUsuarioOpinion {
    font-weight: bold;
}

a.enlaceBlogsHome-aj {
    color: white;
    margin-bottom:10px;
}

div.like {
    border: 1px solid;
}

div.unlike {
    border: 1px solid;
}
/*------------------------Fin Ana------------------------*/
input.tag {
    width: 150px;
    margin: 10px 10px 10px 10px;
}

audio.Audio-Dm{
    text-align:center;
    margin-top:10px;
    max-width:200px;
}

div.borrar-gallina-dm{
    background-image:url(../Images/borrar.jpg);
    background-size: contain;
    border-radius: 10px;
    border-style:solid;
    border-color:black;
    border:2px;
    height:450px;
    margin-top:20px;
}

input.borrar-gallina-dm {
    text-align: center;
    width: 200px;
    background-color: #bd4834;
    margin-top: 20px;
    margin-right:auto;
    
}
div.commit-dm {
    background-image: url(../Images/commit.jpg);
    background-size: inherit;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border: 2px;
    height: 450px;
    margin-top: 20px;
}
a.inicio {
    background-image: url(../Images/logo.jpg);
    background-size: contain;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
img.inicio {
  
    height: 70px;
    width: 70px;
  
}
/*Cris*/

div.lista-Cb {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

div.buscador-Cb {
    display: inline;
    margin-right: 10px;
    margin-top: 20px;
    float: right;
    text-align: center;
}

div.posts-Cb {
    display: block;
    padding: 3px;
    margin-top: 5px;
    max-width: 1500px;
    height: 180px;
    text-align: justify;
    border: 3px solid;
    border-color: #bd4834;
    border-radius: 10px;
    background-color:white;
}

img.imageBlog-Cb {
    float: left;
    vertical-align: central;
    padding: 5px;
    height: 170px;
    width: 130px;
    border-radius: 10px;
}

div.titulo-Cb {
    font-size: 30px;
    text-align: center;
    /* font-style: italic; */
    font-weight: bold;
    /* color: darkmagenta; */
    margin-bottom: 5px;
    padding: 10px;
    background-color: #bd4834;
    border-radius: 10px;
}

div.articulo-Cb {
    display: block;
    text-align: justify;
    font-size: 20px;
}

img.imageArticulo-Cb {
    height: 200px;
    border-radius: 20px;
}

div.centrarImageArticulo-Cb {
    text-align: center;
    margin-bottom: 20px;
    
}

div.comentario-Cb {
    height: auto;
    border-radius: 25px;
    border: 2px solid #bd4834;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

a.avatarComentario-Cb img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 7px solid #fff;
}

h3.opiniones-Cb {
    margin-top: 50px;
    text-align: center;
}

div.title-Cb {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}


div.subtitle {
    font-size: 20px;
}

div.enlaceOpiniones {
    margin-bottom: 10px;
}

div.receptor-Dm {
   
    margin-top: 30px;
    margin-bottom: 15px;
}

img.avatarComentario-aj  {
    border-style: solid;
    border-width: 2px;
    border-color: #c09853;
    height: 70px;
    width: 60px;
    border-top-left-radius: 83% 110%;
    border-top-right-radius: 83% 110%;
    border-bottom-left-radius: 72% 58%;
    border-bottom-right-radius: 72% 58%;
}

img.foto-blog-Dm {
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #c09853;
    border: 5px;
    margin-bottom: 15px;
}

div.chat-Dm {
    margin-left: 100px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

button.enviar-mensaje-Dm {
    
    text-align: center;
    width: 116px;
    height: 69px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #00c3a9;
    background-size: contain;
}
img.enviar-chat-dm {
    margin-top: -12px;
    height: 90px;
    display: inherit;
}
textarea.mensaje-dm {
    border-color: #bd4834;
    border-radius: 10px;
    border-style: solid;
}

label.like {
    margin-top: 10px;
    background-color: #bd4934;
    font-size: 20px;
    color: white;
    pointer-events:none;
    pointer:none;
}
label.contador {
    margin-top: 5px;
    font-size: 20px;
    pointer-events: none;
    pointer: none;
}
   
}
/*Fin Cris*/