﻿@{
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.Logged = Session["logged"] as String;
        ViewBag.LoggedId = Session["loggedid"] as String;

        if (String.IsNullOrEmpty(Session["loggedfoto"] as String))
        {
            ViewBag.LoggedFoto = "/Images/FotoDefaultWeb.jpg";
        }
        else
        {
            ViewBag.LoggedFoto = Session["loggedfoto"] as String;

        }
    }
}
@{
    var controllerName = string.Empty;
    object controllerObj;
    var actionName = string.Empty;
    object actionObj;

    if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
    {
        controllerName = controllerObj.ToString();
    }

    if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
    {
        actionName = actionObj.ToString();
    }
    string idUsuarioPerfil = Request.Params["idUsuario"] != null ? Request.Params["idUsuario"] as string : "0";
    string idGallinaDetail = ViewContext.RouteData.Values["id"] != null ? ViewContext.RouteData.Values["id"] as string : "0";
    string idBlog = Request.Params["idBlog"] != null ? Request.Params["idBlog"] as string : "0";
    var a = 0;
}



<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="@Url.Content("~/Images/logo_icon.ico")" />
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title ipollo</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="cabecera navbar-fixed-top">
                <div class="BotonRegistro col-lg-3 col-md-4 col-sm-3 col-xs-9">

                    @if (ViewBag.UserIsLogged)
                    {
                        <div class="Logeado-CA " style="margin-top:10px;">
                            <a class="ListadoChats-CA" href="@Url.Action("ListadoChat","Mensaje", new { idUsuario=ViewBag.LoggedId})"><span class="glyphicon glyphicon-envelope correo"></span></a>
                            <a class="avatarLayout" href="@Url.Action("Perfil","Usuario", new { idUsuario=ViewBag.LoggedId})"><img src="@ViewBag.Loggedfoto" alt="Profile Image"></a>

                            <a class="NomUsuarioLogged" href="@Url.Action("Perfil","Usuario", new { idUsuario=ViewBag.LoggedId})">@ViewBag.Logged |</a>
                            <a class="LogOut" href="@Url.Action("Logout","Usuario", new { actionName = actionName, controllerName = controllerName, idUsuarioPerfil = idUsuarioPerfil, idGallinaDetail = idGallinaDetail, idBlog = idBlog})"><i class="fas fa-power-off" style="font-size:20px;"></i></a>
                        </div>

                    }
                    else
                    {
                        <div class="SinLogear-CA" style="margin-top:23px;">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                                Login
                            </button>

                            <div class="derechaRegistro">
                                ¿Eres nuevo? -> <a href="/Usuario/Registro" style="color:white; margin-left:5px;"> Regístrate</a>
                            </div>
                        </div>
                    }

                </div>
                <div class="izquierda col-lg-2 col-md-1 col-sm-1 col-xs-1">
                    <a href="/"><img class="Logotipo" src="~/Images/logo.jpg" /></a>
                </div>
                <div class="LayoutEslogan col-lg-7 col-md-7 col-sm-8 col-xs-8 hidden-md hidden-sm hidden-xs">
                    <span class="polloVivo">iPollo, la página de compraventa del mejor animal del mundo.</span>
                </div>

            </div>


        </div>

    </div>

    <!-- div class="separadorDalt"></!--div-->
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">¡Únete a la gran hermandad de iPollo!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/usuario/login" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="controllerName" id="controllerName" value=@controllerName />
                        <input type="hidden" name="actionName" id="actionName" value=@actionName />
                        <input type="hidden" name="idUsuarioPerfil" id="idUsuarioPerfil" value=@idUsuarioPerfil />
                        <input type="hidden" name="idGallinaDetail" id="idGallinaDetail" value=@idGallinaDetail />
                        <input type="hidden" name="idBlog" id="idBlog" value=@idBlog />

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - iPollo - Somos una empresa que ofrece una plataforma para facilitar la compra y/o la venta de un animal de corral.
                Queremos aclarar que está página no tiene un fin de consumo de comida.
                No nos hacemos responsables de las condiciones sanitarias en las que los respectivos dueños tienen en propiedad a su ejemplar.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        $("span.polloVivo").fadeIn(3000);


    </script>
</body>
</html>
