﻿@model Proyecto_Final.Models.Home
@{
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
        ViewBag.UserId = "";
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.UserId = Session["loggedid"] as String;
    }
}

<div class="section-aj">
    <div class="container">
        <div class="row">
            <!--filtro-->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 izquierda-aj">
                <form role="form" controller="Home" action="/Home/Filtro">
                    <div class="form-group">
                        <label for="selectRaza">Raza</label>
                        <select id="selectRaza" name="selectRaza" class="form-control">
                            <option value="" disabled selected>Selecciona una raza</option>
                            <option>Todas</option>
                            @foreach (var raza in Model.Razas)
                            {
                                <option>@raza.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectProvincia">Província</label>
                        <select name="selectProvincia" id="selectProvincia" class="form-control">
                            <option value="" disabled selected>Selecciona una província</option>
                            <option>Todas</option>
                            @foreach (var provincia in Model.Provincias)
                            {
                                <option>@provincia.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputPrecio">Precio</label>
                        <input id="inputPrecio" name="inputPrecio" type="text" class="form-control" placeholder="Precio" />
                    </div>
                    <div class="form-group">
                        <label for="selectSexo">Sexo</label>
                        <select id="selectSexo" name="selectSexo" class="form-control">
                            <option value="" disabled selected>Todos</option>
                            <option>Macho</option>
                            <option>Hembra</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Filtrar</button>
                </form>
            </div>
            <!--fin filtro-->
            <!--listado gallinas-->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
                <div class="row">
                    @foreach (var gallina in Model.Gallinas)
                    {
                        

                        
                            <div class="col-sm-4 blog-card-aj">
                                
                                <div class="card-aj">
                                    <div class="single-post post-style-1">
                                        <a class="sinSubrallado-aj" href=@Url.Action("Detail", "Gallina", new { id = gallina.IdGallina })>
                                            <div class="blog-image-aj"><img class="image-aj img-responsive" src="@gallina.Foto" alt="Blog Image"></div>
                                        </a>
                                        
                                            @if (ViewBag.UserIsLogged) 
                                            {
                                                <a href=@Url.Action("MarcarFavorito", "Favorito", new { idUsuario = ViewBag.UserId, idGallina = gallina.IdGallina, callingView=Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath)) }) onclick="changeImage();">
                                                    <img id="imgFavoritos" class="favorito-aj" src="@gallina.Favorito" />
                                                </a>
                                            }
                                        
                                        
                                            <a class="avatar-aj" href=@Url.Action("Perfil", "Usuario", new { idUsuario = gallina.IdUsuario })>
                                                <img src="@gallina.FotoUsuario" alt="Profile Image">
                                            </a>
                                        
                                        <a class="sinSubrallado-aj" href=@Url.Action("Detail", "Gallina", new { id = gallina.IdGallina })>
                                            <div class="blog-info">
                                                <div class="precio-aj">@gallina.Precio€</div>
                                                <div class="nombreRaza-aj">
                                                    @gallina.Raza
                                                </div>
                                                <div class="nombreLocalidad-aj">@gallina.Localidad</div>

                                                <div class="post-footer-aj">
                                                    <div class="horizontal-aj">
                                                        @for (int i = 0; i < gallina.HuevosGallina; ++i)
                                                        {
                                                            <img style="height:25px;width:20px;"src="~/images/huevo1.png" />
                                                        }
                                                    </div>

                                                    <div class="horizontal-aj">
														<i class="fas fa-eye"></i>
                                                        <p class="icon-aj">@gallina.Views</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                    
                            </div>
                        
                    }

                </div>
            </div>

            <!--blog-->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  derecha-aj">
				<div class="blog-aj">
					<p class="textoBlog-aj">MI PRIMERA GALLINA</p>
					<a href="@Url.Action("Index", "Blog")" class="imgBlog-aj"><img class="img-responsive foto-blog-Dm" src="~/images/gallinafeliz.jpg" /></a>
					
				</div>
                @foreach (var blog in Model.Blogs)
                {
                    <a href=@Url.Action("Blog", "Blog", new { idBlog = blog.IdBlog }) class="itemBlog-aj">
                        <div class="itemBlog-aj">
                            @blog.Titulo
                        </div>
                    </a>
                }
                <a href="@Url.Action("Index", "Blog")" class="enlaceBlogsHome-aj">Ver todos</a>
            </div>
            <!--fin blog-->
        </div>
    </div>
</div>
