﻿@model Proyecto_Final.Models.FormularioVenta
@{
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
        ViewBag.UserId = "";
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.UserId = Session["loggedid"] as String;
    }
}

<h1>Valora a @Model.NombreUsuario</h1>


<form role="form" controller="Ventas" action="/Ventas/RegistrarComentarioComprador">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="hidden" id="inputIdGallina" name="inputIdGallina" class="form-control" value="@Model.IdGallina" />
            <input type="hidden" id="inputIdVendedor" name="inputIdVendedor" class="form-control" value="@Model.IdVendedor" />
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <label>Selecciona una puntuación</label>
                    <div>
                        <div class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label class="estrella" for="radio1">★</label>
                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label class="estrella" for="radio2">★</label>
                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label class="estrella" for="radio3">★</label>
                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label class="estrella" for="radio4">★</label>
                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label class="estrella" for="radio5">★</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="textAreaComentario">Introduce un comentario</label>
                        <textarea id="textAreaComentario" name="textAreaComentario" cols="73" rows="12" class="form-control"> </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-danger" href=@Url.Action("Perfil", "Usuario", new { idUsuario = @ViewBag.UserId })>Cancelar</a>
            </div>
        </div>
    </div>

</form>



