﻿@model IEnumerable<Proyecto_Final.Models.Gallina>
@{
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
        ViewBag.UserId = "";
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.UserId = Session["loggedid"] as String;
    }
}


<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="title-aj">Mis gallinas favoritas</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class="enlace-aj" href=@Url.Action("Perfil", "Usuario", new { idUsuario = @ViewBag.UserId })>Volver</a>
            </div>
        </div>
        <div class="row">
            <div class="section-aj">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @foreach (var gallina in Model)
                    {
                        <div class="col-sm-3 blog-card-aj">
                            <div class="card-aj">

                                <div class="single-post post-style-1">
                                    <a class="sinSubrallado-aj" href=@Url.Action("Detail", "Gallina", new { id = gallina.IdGallina })>
                                        <div class="blog-image-aj">
                                            <img class="image-aj img-responsive" src="@gallina.Foto" alt="Blog Image">
                                        </div>
                                    </a>
                                    <div>
                                        <a href=@Url.Action("MarcarFavorito", "Favorito", new { idUsuario = ViewBag.UserId, idGallina = gallina.IdGallina, callingView=Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath)) })>
                                            <img class="favorito-aj" src="~/images/icons8-heart-red-32.png" />
                                        </a>
                                    </div>
                                    <div>
                                        <a class="avatar-aj" href="#"><img src="@gallina.FotoUsuario" alt="Profile Image"></a>
                                    </div>
                                    <a class="sinSubrallado-aj" href=@Url.Action("Detail", "Gallina", new { id = gallina.IdGallina })>
                                        <div class="blog-info">
                                            <div class="precio-aj"><b>@gallina.Precio€</b></div>
                                            <div class="nombreRaza-aj">
                                                <b>@gallina.Raza</b>
                                            </div>
                                            <div class="nombreLocalidad-aj">@gallina.Localidad</div>

                                            <div class="post-footer-aj">
                                                <div class="horizontal-aj">
                                                    @for (int i = 0; i < gallina.HuevosGallina; ++i)
                                                    {
                                                        <img style="height:30px;width:25px;" src="~/images/huevo1.png" />
                                                    }
                                                </div>

                                                <div class="horizontal-aj">
                                                    <img src="~/images/icons8-eye-16.png" />
                                                    <p class="icon-aj">@gallina.Views</p>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>




            </div>
        </div>

