﻿@model Proyecto_Final.Models.Usuario
@{
    if (String.IsNullOrEmpty(Session["logged"] as String))
    {
        ViewBag.UserIsLogged = false;
        ViewBag.UserId = "";
    }
    else
    {
        ViewBag.UserIsLogged = true;
        ViewBag.UserId = Session["loggedid"] as String;
    }
    string controller = Session["controller"] as String;
    string view = Session["view"] as String;
}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 separador-aj"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive imgPerfil-aj" src="@Model.Foto" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <p class="nombreUsuarioPerfil-aj">@Model.Nombre @Model.Apellidos</p>
                    <div class="enLinia-aj">
                        <img class="img-responsive iconoAddressPerfil-aj" src="~/Images/addressIcon.png" />
                    </div>
                    <div class="enLinia-aj espacio-aj">@Model.Provincia</div>
                    <div class="enlaceOpiniones-aj">
                        @if (Model.Puntuacion > 0)
                        {
                            <div class="enLinia-aj">
                                <div class="enLinia-aj puntuacion-aj">@Model.Puntuacion / 5</div>
                                @for (var i = 0; i < 5; ++i)
                                {
                                    if (i < Model.Puntuacion)
                                    {
                                        <label class="estrellaPerfil-aj colorEstrella-aj">★</label>
                                    }
                                    else
                                    {
                                        <label class="estrellaPerfil-aj">★</label>
                                    }
                                }
                            </div>
                                
                        }

                    </div>
                    @if (Model.Puntuacion == 0)
                    {
                        <div class="enLinia-aj">
                            <img class="img-responsive iconoOpinionPerfil-aj" src="~/Images/opnionIcono.jpg" />
                        </div>
                        <div class="enLinia-aj espacio-aj">Sin reseñas</div>
                    }
                    else
                    {
                        <a class="enlace-aj" href="#opiniones">
                            <div>
                                <p>@Model.Comentarios.Count comentarios</p>
                            </div>
                        </a>
                    }
                
                @if (ViewBag.UserIsLogged)
                {
                    if (ViewBag.UserId == (Model.IdUsuario).ToString())
                    {
                        <div class="enlacesPerfil-aj">
                            <a class="enlace-aj" href=@Url.Action("ListadoChat", "Mensaje", new { idUsuario = Model.IdUsuario})>Chats | </a>
                            <a class="enlace-aj" href=@Url.Action("Create", "Gallina")>Subir una gallina | </a>
                            <a class="enlace-aj" href=@Url.Action("Favoritos", "Usuario", new { idUsuario = Model.IdUsuario})>Favoritos</a>
                        </div>
                        

                        if (Model.ComentariosPendientesVentas != null && Model.ComentariosPendientesVentas.Count > 0)
                        {
                            <b><p>Ventas pendientes de comentar:</p></b>
                            foreach (var comentarioPendiente in Model.ComentariosPendientesVentas)
                            {
                                <p><a class="enlace-aj" href=@Url.Action("FormularioComprador", "Ventas", new { idVendedor = comentarioPendiente.IdVendedor, nombreVendedor = comentarioPendiente.NombreVendedor, razaGallina = comentarioPendiente.NombreGallina, idGallina = comentarioPendiente.IdGallina })>@comentarioPendiente.NombreGallina</a></p>
                            }

                        }
                    }
                }
                </div>
            </div>
            <div class="row">

                <div class="section-aj">
                    <div class="subtitle-aj">En venta</div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @foreach (var gallina in Model.Gallinas)
                        {
                            <div class="col-sm-4 blog-card-aj">
                                
                                <div class="card-aj">
                                    <a class="sinSubrallado-aj" href=@Url.Action("Detail", "Gallina", new { id = gallina.IdGallina })>
                                    <div class="single-post post-style-1">

                                        <div class="blog-image-aj"><img class="image-aj img-responsive" src="@gallina.Foto" alt="Blog Image"></div>

                                        <div class="blog-info">
                                            <h3 class="precio-aj"><b>@gallina.Precio€</b></h3>
                                            <h4 class="title-aj">
                                                <b>@gallina.Raza</b>
                                            </h4>
                                            <h5>@gallina.Localidad</h5>

                                            <div class="post-footer-aj">
                                                <div class="horizontal-aj">
                                                    @for (int i = 0; i < gallina.HuevosGallina; ++i)
                                                    {
                                                        <img style="height:30px;width:25px;" src="~/images/huevo1.png" />
                                                    }
                                                </div>
                                                <div class="horizontal-aj">
                                                    <img src="~/images/icons8-eye-16.png" />
                                                    <p class="icon-aj">@gallina.Views</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    </a>
                                    @if (ViewBag.UserIsLogged)
                                    {
                                        <div class="btnDelete-aj">
                                            <a href=@Url.Action("Borrar", "Gallina", new { id = gallina.IdGallina}) class="btn bte-alert btn-delete btnTextColor-aj">Eliminar</a>
                                        </div>
                                        <div class="btnEdit-aj">
                                            <a href=@Url.Action("Editar", "Gallina", new { id = gallina.IdGallina}) class="btn bte-alert btn-edit btnTextColor-aj">Editar</a>
                                        </div>
                                        if (!gallina.Ventas)
                                        {
                                            <div class="btnVenta-aj">
                                                <a href=@Url.Action("FormularioVendedor", "Ventas", new { idUsuario = Model.IdUsuario, razaGallina = gallina.Raza, idGallina = gallina.IdGallina }) class="btn bte-alert btn-edit btnTextColor-aj">Marcar Venta</a>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="opiniones" class="subtitle-aj opiniones-aj">Opiniones</div>
            @foreach (var comentario in Model.Comentarios)
            {
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                        <a class="avatarComentario-aj" style="pointer-events:none;"><img src="@comentario.FotoUsuario" alt="Profile Image"></a>
                        <p class="nombreUsuarioOpinion">@comentario.NombreUsuario @comentario.ApellidosUsuario</p>
                        <p>@comentario.Fecha</p>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        @for (var i = 0; i < 5; ++i)
                        {
                            if (i < comentario.Puntuacion)
                            {
                                <label class="estrellaPerfil-aj colorEstrella-aj">★</label>
                            }
                            else
                            {
                                <label class="estrellaPerfil-aj">★</label>
                            }
                        }
                        <div class="comentario-aj">
                            <p>@comentario.Comentario</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
