﻿@model Proyecto_Final.Models.Usuario
@{
    ViewBag.Title = "Formulario";
    List<SelectListItem> listadoLocalidad = (List<SelectListItem>)ViewBag.Localidad;
}
<h2 style="color: red;">@ViewBag.MsgError</h2>
@using (Html.BeginForm("Registro", "Usuario", FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 "></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="title-aj">Registro Usuario</div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="iconoUsuario-aj">
                            <div class="foto-vacia-aj">
                                <label for="customFile" class="subir-foto-aj"></label>
                                <input name="Foto" type="file" class="custom-file-input" id="customFile" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  ">
                            <label for="Nombre">Nombre</label>
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group ">
                            <label for="Apellidos">Apellidos</label>
                            @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellidos" } })
                            @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="Edad">Fecha de nacimiento</label>
                            @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "Nombre" } })
                            @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="Edad">Localidad</label>
                            @Html.DropDownListFor(model => model.IdProvincias, listadoLocalidad, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdProvincias, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "email@" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="contrasena">Contraseña</label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="repetirContrasena">Repite la contraseña</label>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Confirm pass" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <button type="submit" class="btn btn-danger subir-Dm">Registrar</button>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
                 
   
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
